<%#= render "blogs/header" %>

<!--<h1>Blogs</h1>-->

<table>
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Content</th>-->
<!--      <th colspan="2"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
    <% @blogs.each do |blog| %>
<!--      <tr>-->
        <b><%= blog.title %></b>
        <p><%= markdown(blog.content) %></p>
<!--        <td><%#= blog.picture %></td>-->
        <p><%= link_to '显示详情', blog %></p>
        <hr>
<!--        <td><%#= link_to 'Edit', edit_blog_path(blog) %></td>-->
<!--        <td><%#= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <% end %>
  </tbody>
</table>
<p><%= paginate @blogs %></p>
<%#= link_to 'New Blog', new_blog_path %>
<!--<br>-->
<%#= link_to'comments',comments_url %>
<!--<br>-->
<%#= link_to'friendlinks',friendlinks_url %>
<!--<br>-->
<%#= link_to'users',users_url %>

<!--<h2><%#=link_to 'go to admin',admin_root_url %></h2>-->