@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body{
  padding-top: 0px;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}


.navbar>.container .logo {
  line-height: 60px;
}

.navbar>.container .logo a {
  color: #009a61;
}

.navbar-default {
  background-color: #fff;
}

.navbar-nav>li>a {
  line-height: 60px;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0px;
}


/* 内容部分开始 */

.content-wrap {
  width: 100%;
  float: left;
  min-height: 1000px;
}

.content {
  position: relative;
  min-height: 500px;
  margin-right: 320px;
  margin-bottom: 20px;
  float: left;
}

@media (max-width:1000px) {
  .content {
    margin-right: 0;
  }
  .sidebar {
    display: none;
  }
}

.sidebar {
  float: left;
  margin-left: -300px;
  width: 300px;
  position: relative;
}

.widget {
  clear: both;
  position: relative;
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
}

/* typography */

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

/* footer */
footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a{
  color: #555;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}


